*#
*-
*.bak
*~
.DS_Store
._*
auto-save-list
dot-emacs.d/.cask/
dot-emacs.d/elpa/archives/
dot-emacs.d/ido.last
dot-emacs.d/session.*
dot-emacs.d/tramp
dot-emacs.d/transient/
dot-emacs.d/url/
projectile-bookmarks.eld
