/* --------------------------------------------------- */
body { margin: 0; }
body { padding: 0; }
body { overflow: hidden; }
body { font-weight: 400; }
body { line-height: 1.5; }
body { text-align: left; }
body { box-sizing: border-box; }
body { font-family: "Arial", sans-serif; }
body { color: #212529; }
body { background-color: #ffffff; }
/* --------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { color: inherit; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
h1, h2, h3, h4, h5, h6 { padding: 0; }
h1, h2, h3, h4, h5, h6 { box-sizing: border-box; }
h1, h2, h3, h4, h5, h6 { font-family: inherit; }
h1, h2, h3, h4, h5, h6 { font-weight: 500; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2; }
h2, h3, h4, h5, h6 { margin-top: 8px; }
h2, h3, h4, h5, h6 { margin-bottom: 8px; }
h1 { font-size: 2.5rem; }
h1 { padding-top: 12px; }
h1 { padding-bottom: 12px; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
/* --------------------------------------------------- */
ul { list-style-type: disc; }
ul, ol { margin: 0; }
ul, ol { padding-left: 24px; }
ul, ol { box-sizing: border-box; }
/* --------------------------------------------------- */
a { color: #007bff; }
a { text-decoration: none;; }
a { box-sizing: border-box; }
a:hover { color: #7b00ff; }
/* --------------------------------------------------- */
p { margin: 0; }
p { padding: 0; }
p { box-sizing: border-box; }
/* --------------------------------------------------- */
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/* --------------------------------------------------- */
table                 { font-size: smaller; }
table                 { border-collapse: collapse; }
table                 { margin-top: 4px; }
table                 { margin-bottom: 4px; }
table, th, td         { border: 1px solid #aaa; }
th, td                { padding: 1px 8px; }
th, td                { vertical-align: middle; }
th.org-left           { text-align: left;   }
th.org-center         { text-align: center; }
th.org-right          { text-align: right;  }
caption               { text-align: left; }
caption span          { font-weight: bold; }
th                    { background-color: #f0f0f0; }
tr:nth-child(even)    { background-color: #f8f8f8; }
tr:hover              { background-color: #f0f0f0; }
/* --------------------------------------------------- */
.text-left { text-align: left; }
.text-right { text-align: right; }
/* --------------------------------------------------- */
.ocon>.otxt { margin-left: 24px; }
.ocon>.ocon { margin-left: 24px; }
.ocon>ol    { margin-left: 24px; }
/* --------------------------------------------------- */
.nav { list-style-type: none; }
.nav a { color: #666666; }
.nav a:hover { color: #7b00ff; }
div#text-table-of-contents>ul.nav { margin-right: 16px; }
/* --------------------------------------------------- */
.ewbar { width: 100%; }
.ewbar { margin: 0; padding: 0; overflow: hidden; }
.ewbar { list-style-type: none; }
.ewbar { background-color: #202; }
.ewbara { font-size: 22px; }
.ewbara { float: left; }
.ewbara { border-right: 1px solid #bbb; }
.ewbara a { display: block; }
.ewbara a { text-align: center; }
.ewbara a { padding-left: 8px; }
.ewbara a { padding-right: 8px; }
.ewbara a { text-decoration: none; }
.ewbara a { color: #bbb; }
.ewbara a:hover { background-color: #424; }
.ewbara:last-child { float: right; border-right: none; }
/* --------------------------------------------------- */
.ewtop { top: 0; }
.ewbot { bottom: 0; }
.ewbot>.ewbara { border-right: none; }
/* --------------------------------------------------- */
#content { overflow-x: hidden; }
#content { overflow-y: scroll; }
#content { position: fixed; top: 33px; }
#content { height: calc(100vh - 68px); }
#content { box-sizing: border-box; }
#content { padding-left: 24px; }
/* --------------------------------------------------- */
@media only screen and (min-width: 768px) {
  #content                          { width: 100%; }
  #content>*                        { width: 70%; }
  div#text-table-of-contents>ul.nav { width: 30%; }
  div#text-table-of-contents>ul.nav { top: 44px; }
  div#text-table-of-contents>ul.nav { right: 0; }
  div#text-table-of-contents>ul.nav { position: fixed; }}
/* --------------------------------------------------- */
.example, .src { font-family:"Ubuntu Mono",monospace; }
.example, .src { font-size: smaller; }
.example, .src { margin: 0; }
.example, .src { margin-top: 4px; }
.example, .src { margin-bottom: 4px; }
.example, .src { padding: 4px 16px; }
.example, .src { color:#e8b958; }
.example, .src { background-color:#282828; }
.example, .src { border-radius: 8px; }
/* --------------------------------------------------- */
code { font-family:"Ubuntu Mono",monospace; }
code { font-size: smaller; }
code { margin: 0; }
code { padding: 2px 6px; }
code { color:#e8b958; }
code { background-color:#484848; }
code { border-radius: 8px; }
/* --------------------------------------------------- */
figure { margin: 0; }
figure { margin-top: 4px; }
figure { margin-bottom: 4px; }
/* --------------------------------------------------- */
a code               { color:#007bff; }
.nav a code          { background-color: #fff; }
/* --------------------------------------------------- */
.img-responsive { display: inline-block; }
/* --------------------------------------------------- */
.bs-docs-sidebar { position: fixed; top: 32px; }
/* --------------------------------------------------- */
