/* --------------------------------------------------- */
body { margin: 0; }
body { padding: 0; }
body { overflow: hidden; }
body { font-weight: 400; }
body { line-height: 1.5; }
body { text-align: left; }
body { box-sizing: border-box; }
body { font-family: "Arial", sans-serif; }
body { color: #212529; }
body { background-color: #ffffff; }
/* --------------------------------------------------- */
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h1, h2, h3, h4, h5, h6 { color: inherit; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
h1, h2, h3, h4, h5, h6 { padding: 0; }
h1, h2, h3, h4, h5, h6 { box-sizing: border-box; }
h1, h2, h3, h4, h5, h6 { font-family: inherit; }
h1, h2, h3, h4, h5, h6 { font-weight: 500; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2; }
/* --------------------------------------------------- */
.ocon>.otxt { margin: 0 0 0 24px; }
.ocon>.ocon { margin: 0 0 0 24px; }
.ocon>ol    { margin: 0 0 0 24px; }
/* --------------------------------------------------- */
.nav { list-style-type: none; }
.nav a { color: #666666; }
/* --------------------------------------------------- */
ul { list-style-type: disc; }
ul, ol { margin: 0; }
ul, ol { padding: 0 0 0 24px; }
ul, ol { box-sizing: border-box; }
/* --------------------------------------------------- */
a { color: #007bff; }
a { text-decoration: none;; }
a { box-sizing: border-box; }
a:hover { color: #7b00ff; }
/* --------------------------------------------------- */
p { margin: 0; }
p { padding: 0; }
p { box-sizing: border-box; }
/* --------------------------------------------------- */
.ewbar { width: 100%; }
.ewbar { margin: 0; padding: 0; overflow: hidden; }
.ewbar { list-style-type: none; }
.ewbar { background-color: #202; }
.ewbara { float: left; }
.ewbara { border-right: 1px solid #bbb; }
.ewbara a { display: block; }
.ewbara a { text-align: center; }
.ewbara a { padding: 0 8px; }
.ewbara a { text-decoration: none; }
.ewbara a { color: #bbb; }
.ewbara a:hover { background-color: #424; }
.ewbara:last-child { float: right; border-right: none; }
/* --------------------------------------------------- */
.ewtop { top: 0; }
.ewbot { bottom: 0; }
.ewbot>.ewbara { border-right: none; }
/* --------------------------------------------------- */
#content { overflow-x: hidden; }
#content { overflow-y: scroll; }
#content { height: calc(100vh - 56px); }
#content { width: 100%; }
#content { top: 0; }
#content { position: fixed; top: 27px; }
/* --------------------------------------------------- */
.example, .src { font-family:"Ubuntu Mono",monospace; }
.example, .src { font-size: smaller; }
.example, .src { margin: 0 36px; }
.example, .src { padding: 4px 16px; }
.example, .src { color:#e8b958; }
.example, .src { background-color:#282828; }
/* --------------------------------------------------- */
code { font-family:"Ubuntu Mono",monospace; }
code { font-size: smaller; }
code { margin: 0; }
code { padding: 2px 6px; }
code { color:#e8b958; }
code { background-color:#484848; }
/* --------------------------------------------------- */
a code               { color:#007bff; }
.nav a code          { background-color: #fff; }
/* --------------------------------------------------- */
.img-responsive { display: inline-block; }
/* --------------------------------------------------- */
.bs-docs-sidebar { position: fixed; top: 32px; }
/* --------------------------------------------------- */
table                 { border-collapse: collapse; }
table, th, td         { border: 1px solid #aaa; }
th, td                { padding: 1px 8px; }
th, td                { vertical-align: middle; }
th.org-left           { text-align: left;   }
th.org-center         { text-align: center; }
th.org-right          { text-align: right;  }
caption               { text-align: left; }
caption span          { font-weight: bold; }
th                      { background-color: #f4dff4; }
tr:nth-child(even)      { background-color: #fff6ff; }
tr:hover                { background-color: #f4dff4; }
/* --------------------------------------------------- */
